body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    font-kerning: normal;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul, ol {
    margin-left: $spacing-unit;
	padding-left: $spacing-unit / 2;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: $spacing-unit / 4;
	}
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $base-font-weight * 1.75;
	font-size: 175%;
    margin-bottom: ($spacing-unit * 1.75) / 2;
}

h1, h2, h3, h4, h5, h6, p {
	padding-left: $spacing-unit / 2;
	padding-right: $spacing-unit / 2;
}

p ~ h1 ,
p ~ h2 ,
p ~ h3 ,
p ~ h4 ,
p ~ h5 ,
p ~ h6  {
	margin-bottom: $spacing-unit;
}

a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

pre, code {
	font-family: $monospace-font-family;
	font-size: 15px;
	border: 2px solid $grey-color-light;
	padding-left: 0.25em;
	padding-right: 0.25em;
}


pre {
	overflow-x: auto;
	padding: $spacing-unit / 2;

	> code {
		border: 0;
		padding: 0px;
	}
}

figure.highlight, div.highlighter-rouge {
	@extend %vertical-rhythm;
	margin-left: $spacing-unit;
	margin-right: $spacing-unit;
}

%clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.icon > svg {
    display: inline-block;
    vertical-align: middle;

    path {
        fill: $grey-color;
    }
}

.post-list .post-meta {
	font-size: $small-font-size;
	color: lighten($text-color, 50%);
}
