#header h1 {
	display: none
}

#header {
	font-size: 125%;
}

#header nav {
	position: absolute;
	top: 1em;
	right: 1em;
	font-family: $heading-font-family;

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;

		li {
			margin-top: $spacing-unit / 4;
			border-radius: 50%;
			background-color: $secondary-background-color;
			opacity: 0.75;
			transition: opacity 0.3s;

			&:hover {
				opacity: 1;
			}

			&:first-child {
				margin-top: 0px;
			}

			a {
				color: $secondary-color;
				font-size: 0px;
				display: block;
				padding: $base-font-size / 2;
				text-align: center;
			}

			.fa {
				font-size: $base-font-size * 2;
			}
		}
	}
}

main h1 {
	margin-top: $spacing-unit;
}

main.page-content {
	max-width: $content-width;
	margin-left: auto;
	margin-right: auto;
}

footer {
	max-width: $content-width;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	ul.social-links {
		margin-left: $spacing-unit;
		margin-right: $spacing-unit;

		li {
			display: inline-block;
			margin-left: $spacing-unit;

			&:first-child {
				margin-left: 0px;
			}
		}
	}
}

.post-list {
	list-style-type: none;
	margin-left: 0px;
	padding-right: $spacing-unit / 2;
}

.post-list .post-meta {
	float: right;

	& > p {
		margin: 0px;
	}
}

.post .post-content {
	p > img:first-child,
	p > img ~ em {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}
