#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: $base-font-size 2*$base-font-size;
	margin-bottom: 2em;

	h1 {
		padding: 0;
		margin: 0;
	}

	.social-links {
		margin: 0;

		a {
			font-size: 0;

			.fab, .fa {
				font-size: 24px;
			}
		}
	}
}


main.page-content {
	max-width: $content-width;
	margin-left: auto;
	margin-right: auto;
}

footer {
	max-width: $content-width;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5em;
	text-align: center;
}

ul.social-links {
	margin-left: $spacing-unit;
	margin-right: $spacing-unit;

	li {
		display: inline-block;
		margin-left: $spacing-unit;

		&:first-child {
			margin-left: 0px;
		}
	}
}

.post-list {
	list-style-type: none;
	margin-left: 0px;
	padding-right: $spacing-unit / 2;
}

.post-list .post-meta {
	float: right;

	& > p {
		margin: 0px;
	}
}

.post .post-content {
	p > img:first-child,
	p > img ~ em {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

.c-snipppet__header {
	padding: $spacing-unit / 2;
	margin-left: $spacing-unit;
	margin-right: $spacing-unit;
	font-size: $small-font-size;
}
