/**
 * Syntax highlighting styles
 */
figure.highlight, div.highlighter-rouge {
  /*
   * Name:       Base16 Tomorrow Dark
   * Author:     Chris Kempson (http://chriskempson.com)
   *
   * Pygments template by Jan T. Sott (https://github.com/idleberg)
   * Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)
   */
  background: #1d1f21;
  color: #ffffff;

  .hll {
	  background-color: #373b41
  }
  .gh, .gu, .gs, .gp {
	font-weight: bold
  }
  .ge {
	  font-style: italic
  }
  .err, .gd, .ne, .no, .nv, .vc, .vg, .vi {
	  color: #cc6666
  }
  .k, .kc, .kd, .kp, .kr {
	  color: #b294bb
  }
  .l, .m, .mf, .mh, .mi, .mo, .se, .si, .il {
	  color: #de935f
  }
  .n, .p, .gh, .nb, .ni, .nl, .py, .w, .sc, .bp {
	  color: #ffffff
  }
  .o, .gu, .kn, .nd, .nt, .ow {
	  color: #8abeb7
  }
  .c, .cm, .cp, .c1, .cs, .gp, .sd {
	  color: #969896
  }
  .gi, .ld, .s {
	  color: #b5bd68
  }
  .kt, .nc, .nn {
	  color: #f0c674
  }
  .na, .nf, .nx {
	  color: #81a2be
  }
  .sb, .s2, .sh, .sx, .sr, .s1, .ss {
	  color: #b5bd68
  }
}
