<footer>
	<ul class="social-links">
		<li><a href="{{ "/feed.xml" | relative_url }}" class="rss-subscribe">
				<span class="fa fa-rss" aria-hidden="true"></span> RSS
		</a></li>
		{% if site.author.github %}
		<li><a href="https://www.github.com/{{ site.author.github }}" class="github">
				<span class="fa fa-github" aria-hidden="true"></span> {{ site.author.github }}
		</a></li>
		{% endif %}
		{% if site.author.twitter %}
		<li><a href="https://www.twitter.com/{{ site.author.twitter }}" class="twitter">
				<span class="fa fa-twitter" aria-hidden="true"></span> @{{ site.author.twitter }}
		</a></li>
		{% endif %}
	</ul>
</footer>
