<footer>
	<ul class="social-links">
		<li><a href="{{ "/feed.xml" | relative_url }}" class="rss-subscribe">
				<span class="fa fa-rss" aria-hidden="true"></span> RSS
		</a></li>
		{% if site.github_username %}
		<li><a href="https://www.github.com/{{ site.github_username }}" class="github">
				<span class="fa fa-github" aria-hidden="true"></span> {{ site.github_username }}
		</a></li>
		{% endif %}
		{% if site.twitter_username %}
		<li><a href="https://www.twitter.com/{{ site.twitter_username }}" class="twitter">
				<span class="fa fa-twitter" aria-hidden="true"></span> @{{ site.twitter_username }}
		</a></li>
		{% endif %}
	</ul>
</footer>
