$heading-font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: "Lato", "Open Sans", sans-serif;
$monospace-font-family: "Inconsolata", monospace;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     $base-font-size * $base-line-height !default;

$lime-primary: #B7E63E;
$lime-shade: darken($lime-primary, 40%);
$lime-tint: lighten($lime-primary, 40%);
$purple-primary: #8062CE;
$purple-shade: scale-color($purple-primary, $lightness: -40%);
$purple-tint: scale-color($purple-primary, $lightness: 20%);
$teal-primary: #36AE94;
$red-primary: #DD5472;
$black: change-color($purple-primary, $lightness: 10%);
$black-tint: scale-color($black, $lightness: 20%);
$white: #FCFCFC;
$white-shade: scale-color($white, $lightness: -20%);

$text-color:       $black !default;
$background-color: $white !default;

$content-width:    800px !default;

$on-mobile:        480px !default;
$on-tablet:        768px !default;

@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

@import "theme/base";
@import "theme/layout";
@import "theme/syntax-highlighting";

