---
layout: default
---
<section class="home">
    <h1 class="page-heading">Posts</h1>
    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <div class="post-meta">
                <p><time datetime="{{ post.date | date_to_xmlschema  }}">{{ post.date | date: '%B, %d, %Y' }}</time></p>
            </div>

            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>
</section>
